@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.content {
  display: flex;
}

.menuLateral {
  display: inline;
  background-color: #00164f;
  max-width: 15vw;
  height: 100vh;
  text-align: center;
}

.menuLateral img {
  max-width: 10vw;
  margin: 5vh;
  background-color: #0d308894;
  border-radius: 80%;
}

.menuLateral h1 {
  color: #ffff;
}

.menuLateral li {
  margin-top: 3vh;
  color: #ffff;
  font-size: larger;
  background-color: #0d308894;
  padding: 10px;
}

.menuLateral li:hover {
  background-color: #ffb700c5;
  cursor: pointer;
  transition: all 0.2s;
}

.menuLateral .opcao {
  margin: 13vh 0;
}

.menuLateral a {
  color: #ffff;
  text-decoration: none;
}

.kpis {
  width: 80vw;
  display: flex;
  justify-content: center;
  position:absolute;
  gap: 2vw;
  margin-left: 14vw;

}

.kpis div {
  width: 17%;
  height: 20vh;
  margin: 1.5vw;
  border: 2px solid #0116494d;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.103);
  text-align: center;
}

.kpis div p {
  color: #00164f;
  font-weight: bold;
  font-size: small;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.kpis div span {
  color: #00164f;
  font-weight: bold;
  font-size: 30px;
  margin: 5vh;
}


.kpis #legenda {
  border: none;
  box-shadow: none;
}

#legenda div{
  height: 4vh;
}

.critico {
  background-color: red;
}
.ideal {
  background-color: green;
}
.media {
  background-color: rgb(255, 136, 0);
}

.text_legenda {
  margin-left: 5vh;
  width: 18vw;
  font-size: small;
  text-align: left;
}

.status_geral {
  margin-top: 30vh;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 5vw;
  flex-direction: column;
}

.status_geral h1{
  color: #292929;
  margin-bottom: 5vh;
}

 .status_geral div{
  width: 70vw;
  height: 10vh;
  border-radius: 20px;
  background-color: #dbdbdb;
}

.status_geral p{
  color: #292929;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-right: 10vw;
  margin-top: 10vh;
}
