body{
    background-color: #00164F;

}


.div_graficos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10vh;
    margin-left: 2vw;
    

    border-radius: 5px;

    width: 95vw;
    height: 75vh;


    background-color: aliceblue;

}

div section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40vw;
    height: 20vh;


}

div canvas{
    display: flex;
    position: relative; 
    height: 40vh; 
    width: 40vw;

    gap: 30px;
    padding: 30px;
    margin: 30px;

   
}

div h1{
    color: #FFB800;
    background-color: #00164F;

    border-radius: 3px;

}

.div_kpis{
    padding: 30px;
    

}

header {
    color: black;
    background-color: whitesmoke;
}



   
/* Este é o css referente ao menu responsivo */

body ul{
    margin: 0px;
    padding: 0px;

    border-radius: 15px;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

/* Quando passar por cima muda um pouco de cor */
a:hover{
    background-color: rgba(0, 0, 0, .05);

}

#logo{
    font-size: 1.5rem;
    font-weight: bold;

}

#headerResponsivo{
    background-color: #01206d;

    display: flex;
    align-items: center;
    

    height: 50px;
    padding: 1rem;

    /* box-sizing Soma o height com o padding */
    box-sizing: border-box;
    


}

#menuResponsivo{
    display: flex;
    list-style: none;
    gap: .5rem;

}

#menuResponsivo a{
    display: block;
    padding: .5rem;

}

#btn-mobile{
    display: none;
}


/*  o media query faz com que aquilo só aconteça quando a tela estiver com um determinado tamanho*/
   


    #menuResponsivo{
        display: block;
        
        position: absolute;

        margin-left: 0px;
        width: 30vw;
        height: 0px;
        top: 60px;
        


        background-color: #01206d;
        
        transition: .6s;

        /* faz com que ele fique acima de todos os elementos do site */
        z-index: 1000;

        /* Ele fica escondido */
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #navResponsivo.active #menuResponsivo{
        display: block;
        /* calc ele vai tirar os 70px do 100vh para não adicionar espaço a mais do que o necessário */
        height: calc(100vh - 70px);
        
        /* Ele reaparece */
        visibility: visible;
        overflow-y: auto;
    }

    #menuResponsivo a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    #btn-mobile{
        color: #FFB800;

        font-size: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        display: block;
        border: none;
        background: none;
        
        cursor: pointer;
        
        padding: .5rem 1rem;
        font-size: 1rem;
        gap: .5rem;

    }

    #hamburger{
        border-top: 10px solid;
        width: 20px;
        

    }

    #hamburger::after #hamburger::before{
        content: '';

        display: block;
        margin-top: 5px;

        width: 20px;
        height: 2px;

        background-color: currentColor;

    }

    #navResponsivo.active #hamburger{
        background: #FFB800;
        border-top-color: transparent;
    }

    
